@font-face { 
	font-family: Cormorant; 
	src: url('fonts/CormorantSC-Bold.ttf'); 
} 
.thumbs-block {
    position:relative; 
    overflow: hidden;
    background-opacity: 0%;
    width: 1000px;
    height:240px;     
} 
.thumbs-block .thumbs {
    white-space: nowrap;
    text-align: center;
}
.thumbs-block .thumb {
    display: inline-block;
    margin-right: 4px;
}
#main {
	background-color: #FFFFFF;
	/*background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
*/}
.main_box {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  fill-opacity: 0%;
  border-style: solid;
  border-color: gray;
  border-width: 1.5px;	
}
#logo{
	margin: 10px 30px 15px 40px;
  display:inline-block;
  vertical-align:middle;
}
#title{
	font-family: Cormorant;
	color: #4c3f77 ;
	font-size: 30px;
	text-align: center;
	width: 41%;
	height: auto;
	
}
#contact{
	box-sizing: 30px 20px;
	text-align: right;
	width: 406px;
	height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 17px;
	display:inline-block;
	vertical-align:super;
	position: absolute;
	top: 20px;
	padding-left: 1%
}
.category {
	display:inline-block;
	vertical-align:baseline;
	margin: 10px 10px 10px 10px;
	padding-left: 40px;
	font-family: Cormorant;
	font-size: 25px;
	font-style: italic;
	color:black;
	text-decoration: none;
}
.category:hover{
	color: darkmagenta;
}




